<img class="block" src="/img/protein.jpeg" alt="">
<form method="POST" action="/protein">
        <div class="allgrain">
    <h1>Add Protein</h1>
    {{!-- <label for="name">name</label> --}}
    <input type="text" name="name"/>

    <input type="submit" value="Create protein" />
</form>
</div>