<img class="block" src="/img/protein.jpeg" alt="">
<form method="POST" action="/protein">
    {{!-- <label for="name">name</label> --}}
    <input type="text" name="name"/>

    <input type="submit" value="Create protein" />
</form>