<img class="block" src="/img/protein.jpeg" alt="">
<div class="allgrain">
<h1>Protein</h1>
<a class="link" href="/pantry">Return to Pantry</a> <br>
<a class="link" href="/protein/new">New Protein</a>
<ul>
    {{#each allprotein}}
    <li>
    <a class="link" href="/protein/{{_id}}/edit">{{name}}</a>
    </li>
    
    {{/each}}
</ul>
</div>