/* image styled for all pages */
.block{
    position: absolute;
    z-index: -1;
    margin-top: -55px;
    
}

ul{
    list-style: none;
}

/* home page */

.pantry{
    color: white;
    font-size: 5em;
    
    text-align: center;
    text-shadow: 3px 3px black;
}

.buttons{
    text-align: center;
    
    border-radius: 50%;
}

button{
    background-color: transparent;
    border: none;
    border-radius: 50%;
    font-size: 2em;
    
}
button:hover{
    border-radius: 50%;
}
a{
    color: white;
    text-shadow: 2px 2px black;
    background-color: transparent;
    border-radius: 50%;
    text-decoration: none;
}
.greena:hover{
    color: green;
}
.proteina:hover{
    color: red;
}
.graina:hover{
    color: saddlebrown;
}

/* grain page */

.grainy{
    
    text-align: center;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px black;
    margin-left: 50%;
    
}