<img class="block" src="/img/slate.jpg" alt="">
<div class="grainy">
<h1>Grains</h1>
<a class="newgrain" href="/grain/new">Add New Grain</a>
<ul>
    {{#each allgrain}}
    <li>
    <a href="/grain/{{_id}}/edit">{{name}}</a>
    </li>
    
    {{/each}}
</ul>
</div>