<img class="block" src="/img/grain1.jpg" alt="">
<div class="allgrain">
<h1>Grains</h1>
<a href="/grain/new">Add Grain</a>
<ul>
    {{#each allgrain}}
    <li>
    <a href="/grain/{{_id}}/edit">{{name}}</a>
    </li>
    
    {{/each}}
</ul>
</div>