<img class="block" src="/img/grain1.jpg" alt="">
<form method="POST" action="/grain">
<div class="newgrain">
    <h1>Add Grains</h1>
    {{!-- <label for="name">name</label> --}}
    <input type="text" name="name"/>

    <input type="submit" value="Create grain" />
</form>
</div>