<img class="block" src="/img/grain.jpg" alt="">
<form method="POST" action="/grain">
    <label for="name">name</label>
    <input type="text" name="name"/>

    <input type="submit" value="Create grain" />
</form>