<h1>Grain</h1>
<a href="grain/new">Add</a>

    <ul>
    {{#each grain}}
    <li>
        <a href="/pantry/grain/{{_id}}/edit">
        {{grain}}
        </a>
    </li>
    {{/each}}
    </ul>
</form>