<link rel="stylesheet" href="style.css">
{{!-- <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/> --}}
<div class="home">
<img class="block" src="/img/pantry1.jpg" alt="">
{{!-- <img class="responsive-img" src="/img/butch.jpg" alt=""> --}}
    
       <h1 class="pantry">Pantry</h1>
   <div class="buttons"> 
<button><a class="greena" href="/green">Green</a></button>       
<button><a class="graina" href="/grain">Grain</a></button>
<button><a class="proteina" href="/protein">Protein</a></button></div>
    
</body>
</html>




</div>