<link rel="stylesheet" href="st">
    <div class="pantry">
       <h1>Pantry</h1>
    <button><a href="/grain">Grain</a></button>
<button><a href="/green">Green</a></button>
<button><a href="/protein">Protein</a></button>
    </div>
</body>
</html>




