<h1>Pantry</h1>
<a href="/grain/">Grain</a>
<a href="/green/">Green</a>
<a href="/protein/">Protein</a>
<ul>
    {{#each allGrain}}
    <li>
    <a href="/pantry/{{_id}}/edit">{{name}}</a>
    </li>
    
    {{/each}}
</ul>
