<h1>Pantry</h1>
<a href="pantry/grain/">Grain</a>
<a href="/green/">Green</a>
<a href="/protein/">Protein</a>
<ul>
    {{#each allGrain}}
    <li>
    <a href="/grain/{{_id}}">{{grain}}</a>
    </li>
    
    {{/each}}
</ul>
