<form method="POST" action="/issues/{{issue._id}}?_method=PUT">
    <label for="name">name</label>
    <input type="text" name="name" value="{{issue.name}}"/>

    <input type="submit" value="Update issue" />
</form>

<form method="POST" action="/issues/{{issue._id}}?_method=DELETE">
    <input type="submit" value="Delete issue" />
</form>
