<img class="block" src="/img/green2.jpeg" alt="">
<div class="allgreen">
<form method="POST" action="/green/{{green._id}}?_method=PUT">
    <label for="name">name</label>
    <input type="text" name="name" value="{{green.name}}"/>

    <input type="submit" value="Update green" />
</form>

<form method="POST" action="/green/{{green._id}}?_method=DELETE">
    <input type="submit" value="Delete green" />
</form>
</div>