<img class="block" src="img/green2.jpeg" alt="">
<div class="allgreen">
<h1>Greens</h1>
<a href="/green/new">New green</a>

<ul>
    {{#each allgreen}}
    <li>
    <a href="/green/{{_id}}/edit">{{name}}</a>
    </li>
    
    {{/each}}
</ul>
</div>