<img class="block" src="img/green2.jpeg" alt="">
<div class="allgreen">
<h1>Greens</h1>
<a class="greenlink" href="/pantry">Return to Pantry</a> <br>
<a class="greenlink" href="/green/new">Add Green</a>


<ul>
    {{#each allgreen}}
    <li>
    <a class="greentxt" href="/green/{{_id}}/edit">{{name}}</a>
    </li>
    
    {{/each}}
</ul>
</div>