<img class="block" src="/img/green2.jpeg" alt="">
<div class="allgreen">
<form method="POST" action="/green">
        <h1>Add Green</h1>
    <label for="name"></label>
    <input type="text" name="name"/>
    <input type="submit" value="Create green" />
</form></div>