<img class="block" src="/img/green2.jpeg" alt="">
<div class="allgreen">
<form method="POST" action="/green">
    
    <label for="name">name</label>
    <input type="text" name="name"/>

    <input type="submit" value="Create green" />
</form></div>